/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/




.bxwrap {
    height:auto;
    padding-top:63px;
    padding-bottom:63px;
    background: rgba(240, 112, 115, 0.6);
    width:100%;
    position:relative;
    z-index:0;
    overflow: hidden;
}
.bxwrap .bx-wrapper .bx-pager{
    display:none;
}



.bxwrap h4.testimonialsheadline{
    color:#fff;
    font-size:35px;
    font-family:arvo;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:0;
    margin-right:20px;
    margin-left:20px;
}




.bxwrap p.subtitle1 {
    margin-right:20px;
    margin-left:20px;
    color:#fff;
    font-size:35px;
    font-family:pt sans;
    text-align:center;margin-bottom:0;
}


.bxwrap p.subtitle2 {
    color:#fff;
    font-size:21px;
    font-family:pt sans;
    text-align:center;
    margin-bottom:0;
    margin-right:20px;
    margin-left:20px;
}


.bxwrap1 {
    height:auto;
    padding-top:63px;
    padding-bottom:63px;
    background: rgba(132, 185, 242, 0.6);
    width:100%;
    position:relative;
    z-index:0;
    overflow: hidden;
}

.bxwrap1 h4.testimonialsheadline{
    color:#fff;
    font-size:35px;
    font-family:arvo;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:21px;

}

.bxwrap1 img{
    margin-bottom:3px;
}


.bxwrap2 {
    height:auto;
    padding-top:63px;
    padding-bottom:0px;
    background: rgba(251, 240, 148, 0.6);
    width:100%;
    position:relative;
    z-index:0;
    overflow: hidden;
}


.bxwrap2 h4.testimonialsheadline{
    color:#fff;
    font-size:35px;
    font-family:arvo;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:21;

}

.bxwrap2 img{
    margin-bottom:3px;
}







/** THEME
===================================*/

.bx-wrapper .bx-viewport {

    margin-bottom:15px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    /*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}


/* DIRECTION CONTROLS (NEXT / PREV) */


.bx-wrapper .bx-next:link, .bx-wrapper .bx-next:visited {
    right:0%;
    top:41%;
    opacity:.5;
    width:60px;
    height:60px;
    background:#fff url(../images/next1.png) center center no-repeat ;
    border:#fff 2px solid;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition:all .3s;
    -o-transition: all .3s;
}

.bx-wrapper .bx-next:hover {
    opacity:1;
    background: url(../images/next1.png) center center no-repeat;
}


.bx-wrapper .bx-prev:link, .bx-wrapper .bx-prev:visited {
    top:41%;
    left:0%;
    opacity:.5;
    width:60px;
    height:60px;
    background:#fff url(../images/prev1.png) center center no-repeat;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition:all .3s;
    -o-transition: all .3s;
    border:#fff 2px solid;
}



.bx-wrapper .bx-prev:hover {
    opacity:1;
    background: url(../images/prev1.png) center center no-repeat;
}


.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 40%;
    margin-top:0;
    outline: 0;

    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}





.bxwrapadditional {
    height:auto;
    padding-top:84px;
    padding-bottom:11px;
    width:100%;
    position:relative;
    z-index:0;
}

.bxwrapadditional .bx-wrapper .bx-next:link, .bxwrapadditional .bx-wrapper .bx-next:visited {
    right:2%;
    top:86%;
    opacity:.3;
    width:40px;
    height:40px;
    background: url(../images/next1.png) center center no-repeat ;
    border:none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition:all .3s;
    -o-transition: all .3s;
}

.bxwrapadditional .bx-wrapper .bx-next:hover{
    opacity:1;
}


.bxwrapadditional .bx-wrapper .bx-prev:link, .bxwrapadditional .bx-wrapper .bx-prev:visited {
    left:88%;
    top:86%;
    opacity:.3;
    width:40px;
    height:40px;
    background: url(../images/prev1.png) center center no-repeat ;
    border:none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition:all .3s;
    -o-transition: all .3s;
}

.bxwrapadditional .bx-wrapper .bx-prev:hover{
    opacity:1;
}



/* PAGER */

.bx-wrapper .bx-pager {
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    overflow: hidden;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    width: 30px;
    height: 30px;


    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    display: block;

    margin:0  10px;
    outline: 0;

    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition:all .2s;
    -o-transition: all .2s;

}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);

}


.bx-wrapper .bx-pager.bx-default-pager a.active {
    cursor:default;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);

}
.bx-wrapper .bx-pager.bx-default-pager a.active:hover {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);

}



@media (max-width: 767px) {

    .bx-wrapper .bx-prev:link, .bx-wrapper .bx-prev:visited {
        width:40px;
        height:40px;
        top:45%;
    }

    .bx-wrapper .bx-next:link, .bx-wrapper .bx-next:visited {
        width:40px;
        height:40px;
        top:45%;
    }


    .bxwrap h4.testimonialsheadline{
        font-size:27px;
    }

    .bxwrap1 h4.testimonialsheadline{
        font-size:27px;
    }

    .bxwrap2 h4.testimonialsheadline{
        font-size:27px;
    }


    .bxwrap p.subtitle1 {
        font-size:21px;
    }


    .bxwrap p.subtitle2 {
        font-size:18px;
    }



}


@media (max-width: 500px) {

    .bxwrapadditional .bx-wrapper .bx-prev:link, .bxwrapadditional .bx-wrapper .bx-prev:visited {
        left:0;top:30%;
    }

    .bxwrapadditional .bx-wrapper .bx-next:link, .bxwrapadditional .bx-wrapper .bx-next:visited {
        right:0;top:30%;
    }

}























