
.cbp-so-side {
    width:100%;float:left;
}

.cbp-so-side2{
    width:100%;float:left;
}
.section2{
    text-align:center;
}
.nav a:link, .nav a:visited{
}
.nav a:hover{
    text-decoration:underline;
}


.bxwrap {
    background:#FFB27F;
}

.bxwrap1 {
    background:#A3C9F2;
}
.bxwrap2 {
    background:#ACE08D;
}



.bxwrapadditional .bx-wrapper .bx-next:link, .bxwrapadditional .bx-wrapper .bx-next:visited {
    display:none;
}

.bxwrapadditional .bx-wrapper .bx-prev:link, .bxwrapadditional .bx-wrapper .bx-prev:visited {
    display:none;
}



.toplink {
    background:#FBF094;
}


.achievement h5{
    padding-top:35px;
    margin-left:10px;
}


.teambackground h3{
    display:block;
}

.teambackground img{
    display:block;
}
.wrap {
    text-align:center;
}






