
/* --------------------------------------------------------
Colors - Bootstrap3 onepage responsive multifunctional website html template
author: http://themeforest.net/user/rayoflightt
----------------------------------------------------------*/
/* -----------------------------------------------------------
CONTENTS:
html5 and responsive content
reset
menu + general classes
top headline
about us
team
services
portfolio (isotope)
blog
footer
blueprint paralax effect
paralax sections
additional page
hover effect
------------------------------------------------------------*/


/* HTML5 styles */
header, nav, article, section, aside, footer {display: block;}
/* HTML5 styles-end */

img{max-width: 100%; width:auto}
img{ -ms-interpolation-mode: bicubic; }
img, embed, object, video {
    max-width: 100%
}


/********* reset *********/

a:link, a:visited{
    outline:none;
    text-decoration:none;
}
ul, ol {
    line-height: 1.6;
    margin: 0 0 22px 0;
    padding:0;
    list-style:none;
}

ul li, ol li{
    margin: 0 0 11px 0;
    padding:0;
    list-style:none;
    font-size:15px;
}

.liststyle1 ul li{
    list-style:square;
    font-size:14px;
}


.liststyle2 ol li{
    list-style:circle;
}

h1, h2, h3, h4, h5, h6 {
    color:#555555;
    font-family:'Shadows Into Light Two';
    font-weight:normal;
}

h1, h2{
    line-height:1.2;
}

h3, h4, h5, h6{
    line-height:1.4;
}

h6 {
    font-size:12px;
}
h5 {
    font-size:14px;
}
h4 {
    font-size:18px;
}
h3 {
    font-size:22px;
}
h2 {
    font-size:36px;
}
h1 {
    font-size:44px;
}



/*p{
    color:#555555;
    font-size:14px;
    font-family:"pt sans" arial, san-serif;
    font-weight:normal;
    line-height:1.6;
    margin:0 0 22px 0;
}*/
address {
    font-size:21px;
    color:#555555;
}


blockquote{
    margin:0 0 22px 0;
    padding:22px 20px;
}

blockquote p{
    margin:0;
}


.centered {
    float:none;
    margin:0 auto;
}

.texthighlight{
    font-size:21px;
}

@media (min-width: 768px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}
/********* reset end *********/

/********* menu + general classes *********/
#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 999999;
}

#mask {width:100%;height:100%;
       position:absolute;
       top:0;
       left:0;
       right:0;
       bottom:0;
       background:#000 url(/Theme/ElfuSlenis/images/loaderfirst.gif) center center no-repeat;
       z-index:999;

}
#mask1 {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#fff ;
    z-index:999;
}




.paralaxcontent{
    margin: 0 auto;
    overflow: auto;
}

html,
body {
    height: 100%;
}

body{
    height:100%;
    color:#555555;
    line-height:1.6;
    background-color:#fff;
    font-size:14px;
    font-family:"pt sans", Arial, sans-serif;
    background-attachment:fixed;
    font-weight:normal;
}



.container100percent {
    width: 94%;
    margin:0 auto;
}


.wrapper100percent{
    float:left;
    width:100%;
    padding:0;
}

.wrapper50percent{
    float:left;
    width:50%;
}

.sectionwrapper{
    margin-top:1px;
    margin-bottom:84px;
    width:100%;
    float:left;
    position:relative;
}


.mainheadlinewrapper {
    margin-bottom:0px;
    float:left;
    width:100%;
    text-align:center;
}

.mainheadline {
    background:#fff;
    padding-bottom:42px;
    padding-top:42px;
    padding-left:20px;
    padding-right:20px;
}

.mainheadline h2{
    font-size:88px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:1;

}

.mainheadline span{
    font-size:46px;
    color:#555555;
    text-transform:none;
    font-family:pt sans;
    font-style:italic;
    font-weight:normal;
}

.mainheadline h4{
    margin-top:0;
    line-height:1.3;
    font-size:27px;
    font-weight:normal;
    color:#555555;
}

.mainheadlinewrappersmall {
    float:left;
    width:100%;
    text-align:center;
    margin-bottoom:21px;
    float:left;
}

.mainheadlinesmall {
    background:#fff;
    padding:20px;
}

.mainheadlinesmall h2{
    font-size:44px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:1;
}

.mainheadlinesmall span{
    font-size:44px;
    color:#555555;
    text-transform:none;
    font-family:pt sans;
    font-style:italic;
    font-weight:normal;
}


.mainheadlinesmall h4{
    margin-top:0;
    line-height:1.3;
    font-size:18px;
    font-weight:normal;
    color:#555555;
}

/***menu***/


.navbar-toggle {
    position: relative;
    float: right;
    width: 48px;
    height: 34px;
    padding: 6px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #fff;
}

.menudesktopcolor{
    background:#FFB27F;
}

.menudesktopcolor1{
    background:#A3C9F2;
}
.menudesktopcolor2{
    background:#ACE08D;
}
.menudesktopcolor3{
    background:#D5ADE9;
}
.menudesktopcolor4{
    background:#FBF094;
}
.menudesktopcolor5{
    background:#FFB27F;
}

.navbar {
    min-height: 84px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0px;

    border-radius: 0;
}


#nav ul{
    margin-top:29px;
}


.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
}

.nav > li {
    position: relative;
    display: inline-block;
}

.nav > li > a:link, .nav > li > a:visited {
    position: relative;
    display: inlne-block;
    padding: 3px 10px;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: none;
}

nav a {
    position: relative;
    display: inline-block;
    margin-right:20px;
    margin-left:20px;
    outline: none;

}

nav a:hover,
nav a:focus {
    outline: none;
}


/***menu end***/


/*********menu + general classes end**********/

/*********top headline**********/

.topwrapwrapper {
    position:relative;
    z-index:0;

}


.topwrap {
    padding-top:296px;
    padding-bottom:230px;

    height:auto;
    position:relative;
    z-index:0;
}


.topwrap h1{
    font-weight:bold;
}
.topwrap h2{
    font-weight:bold;
}
.topwrap h3{
    font-weight:bold;
}
.topwrap h4{
    font-weight:bold;
}
.topwrap h5{
    font-weight:bold;
}
.topwrap h6{
    font-weight:bold;
}

.topwrap h1{
    font-weight:bold;
}
.topwrap h2{
    font-weight:bold;
}
.topwrap h3{
    font-weight:bold;
}
.topwrap h4{
    font-weight:bold;
}
.topwrap h5{
    font-weight:bold;
}
.topwrap h6{
    font-weight:bold;
}


h2.title1 {
    font-family:'Shadows Into Light Two';
    font-size:127px;
    text-transform:uppercase;
    text-align:center;
    line-height:1;
    display:block;
    float:none;
}

h3.subtitle2 {
    line-height:1;
    text-transform:uppercase;
    letter-spacing:5px;
    color:#fff;
    font-size:27px;
    font-family:'Shadows Into Light Two';
    text-align:center;
    margin-top:0px;
}
h2.title1 span.color1{
    color:#FFB27F;
}

h2.title1 span.color2{
    color:#A3C9F2;
}
h2.title1 span.color3{
    color:#ACE08D;
}
h2.title1 span.color4{
    color:#FBF094;
}
h2.title1 span.color5{
    color:#D5ADE9;
}
h2.title1 span.color6{
    color:#FBF094;
}

.toplink {
    text-align:center;
    width:540px;
    background: rgba(255, 240, 110, 0.5);
    margin:21px auto 0 auto;
    padding:10px 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toplink i {
    color:#fff;
    font-size:80px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.toplink:link, a.toplink:visited {
    font-weight:bold;
    text-transform:uppercase;
    font-family:arvo;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toplink:hover {
    background: rgba(255, 240, 110, 1);
}
.toplink:hover i{

}

/*********top headline end**********/



/*********about us**********/

.section1 {
    background:#FFB27F;
}

.section1 .mainheadline h2{
    color:#FFB27F;
}
.section1 .mainheadlinesmall{

    margin-top:30px;
}


.section1 .mainheadlinesmall h2{
    color:#FFB27F;

}



.aboutusbackground{
    border:1px solid #fff;
    padding: 10px ;
    margin:30px 15px 0 15px;
    float:left;
}



.aboutusbackgroundinner{
    background:#fff;
    padding:20px;
    float:left;

}


.aboutusbackground i{
    background:#f0f0f0;
    color:#FFB27F;
    padding: 18px;
    font-size:40px;
    border-radius:500px;
    margin-left:10px;
    margin-right:20px;
    margin-bottom:20ox;
    border:#FFB27F 10px solid;
    float:left;
    white-space: nowrap;
}

.aboutusbackground h3{
    margin: 0px 0 10px 0;
    font-size:27px;
    text-transform:uppercase;
    font-family:arvo;
}

.aboutusbackground h5{
    font-size:18px;
    margin-bottom:0;
    line-height:1.6;
    margin-top:0;
}

.aboutusbackground p{
    margin:0 ;
}


.achievement {
    text-align:center;
    padding-top:21px;
    margin-top:10px;
    float:left;
}

.achievement i{
    font-size:40px;
    background:#f0f0f0;
    border:#fff 5px solid;
    border-radius:500px;
    color:#FFB27F;
    float:left;
    padding: 12px 15px;
}


.achievement h3{
    font-size:64px;
    color:#fff;
    text-transform:uppercase;
    margin-bottom:0;
    float:left;
    line-height:1;
    margin-right:10px;
    margin-bottom:0;

}
.achievement h5{
    font-size:21px;
    color:#fff;
    text-transform:uppercase;
    margin-top:10px;
    float:left;
}
.achievementinner{

}


/*********about us end**********/


/*********team*********/
.section2{
    background:#A3C9F2 url(/Theme/ElfuSlenis/images/bgblue.png) repeat;
}
.section2 .mainheadline h2{
    color:#A3C9F2;
}

.section2 .mainheadlinesmall h2{
    color:#A3C9F2;
}

.teambackground{
    margin:30px 15px;
    background:#fff;
    text-align:center;
}

.teambackground h3{
    margin-right:5px;
    margin-left:20px;
    display:inline-block;
}

.teambackground h5{
    margin-right:20px;
    margin-left:0px;
    display:inline-block;
    font-style:italic;
}
.teambackground p{
    margin-right:20px;
    margin-left:20px;
}

.teambackground .additionalicons{
    padding:20px 0 0 0;
    background:#f0f0f0;
    text-align:center;
}

.additionalicons a:link, .additionalicons  a:visited{
    font-size:30px;
    color:#A3C9F2;
    margin-right:15px;
    margin-left:15px;
    margin-bottom:20px;
    background:#fff;
    width:60px;
    height:60px;
    padding-top:5px;
    display:inline-block;
    border-radius:500px;
    -moz-border-radius:500px;
    -webkit-border-radius:500px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.additionalicons a:hover{
    color:#fff;
    background:#A3C9F2;
}
.teamskills{
    width:100%;
    float:left;
    padding:0px 0 80px 0;
    background:#A3C9F2 url(/Theme/ElfuSlenis/images/bgblue.png) repeat;
}


/***charts***/
.wrap p{
    font-sIze:27px;
    color:#fff;
    margin-top:33px;
    margin-bottom:0;
}
.wrap span{
    font-sIze:44px;
}

.progress-radial {
    margin:0 auto;
    border:2px solid #fff;
    position: relative;
    width: 180px;
    height:180px;
    border-radius:500px;
    margin-top:0px;
}


.progress-radial .overlay {
    position: absolute;
    width: 141px;
    height: 141px;
    background: #A3C9F2;
    border-radius:500px;
    -moz-border-radius:500px;
    -webkit-border-radius:500px;
    margin-left: 17px;
    margin-top: 18px;
    text-align: center;


}

.progress-0 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(90deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-5 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(108deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-10 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(126deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-15 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(144deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-20 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(162deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-25 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(180deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-30 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(198deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-35 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(216deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-40 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(234deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-45 {
    background-image: linear-gradient(90deg, #A3C9F2 50%, transparent 50%, transparent), linear-gradient(252deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-50 {
    background-image: linear-gradient(-90deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #A3C9F2 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-55 {
    background-image: linear-gradient(-72deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-60 {
    background-image: linear-gradient(-54deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-65 {
    background-image: linear-gradient(-36deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-70 {
    background-image: linear-gradient(-18deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-75 {
    background-image: linear-gradient(0deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-80 {
    background-image: linear-gradient(18deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-85 {
    background-image: linear-gradient(36deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-90 {
    background-image: linear-gradient(54deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-95 {
    background-image: linear-gradient(72deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

.progress-100 {
    background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(270deg, #fff 50%, #A3C9F2 50%, #A3C9F2);
}

/***charts end***/



/*********team end*********/



/*********services*********/

.section3  {
    background:#ACE08D url(/Theme/ElfuSlenis/images/bggreen.png) repeat;
    text-align:center;
}


.section3 .mainheadline {
    margin-bottom:10px;
}

.section3 .mainheadline h2{
    color:#ACE08D;
}

.section3 .mainheadlinesmall h2{
    color:#ACE08D;
}



.servicecolumn{
    padding:10px;
    border:#fff 1px solid;
    margin-bottom:10px;
    margin-top:10;
}

.servicecolumninner{
    padding-bottom:1px;
    background:#fff;
    padding-top:20px;
}



.servicecolumn .mainicon{
    font-size:40px;
    color:#ACE08D;
    background:#f0f0f0;
    width:75px;
    height:75px;
    border-radius:500px;
    border:#ACE08D 5px solid;
    margin:0 auto;
}

.servicecolumn .mainicon i{
    font-size:40px;
    color:#ACE08D;
}

.servicecolumn h3{
    margin-top:10px;
}

.servicecolumn ul{
    margin-right:20px;
    margin-left:20px;

}


.section3 .mainheadlinewrapper{
    margin-bottom:20px;
}

.section3 ul li i{
    background:transparent;
    font-size:14px;
    color:#ACE08D;
    padding:0;
}
.section3 .servicesmarginbottom{
    margin-bottom:20px;
}
.section3 .servicesmarginbottom1{
    margin-bottom:20px;
}



.calltoactionwrapper  {
    margin-right:15px;
    margin-left:15px;
    margin-bottom:22px;
}
.calltoaction  {
    border:#FBF094 1px solid;
    padding:0 10px;
}
.calltoactioninner  {
    background:#FBF094;
    margin:10px 0;
    text-align:center;
    padding:20px 20px 40px 20px;
}
.calltoactioninner h4 {
    color:#333333;
    font-size:27px;
    font-family:arvo;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:21px;
}

.calltoactioninner i {
    color:#ACE08D;
    font-size:40px;
}

.calltoactioninner a:link, .calltoactioninner a:visited {
    border:solid 1px #ACE08D;
    font-size:18px;
    padding:5px 30px 10px 30px;
    white-space:nowrap;
    color:#333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.calltoactioninner a:hover {
    background:#ACE08D;
    color:#fff;
}


/*********services end*********/



/*********portfolio*********/

.section4  {
    background:#D5ADE9 url(/Theme/ElfuSlenis/images/bgviolet.png) repeat;
}
.section4 .mainheadline h2{
    color:#D5ADE9;
}

.section4 .mainheadlinesmall h2{
    color:#D5ADE9;
}

.marginbottomisotope{
    margin-bottom:63px;
}


/**** Isotope portfolio ****/

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


/**** Example Options ****/



#options ul {
    margin-top:30px;
    margin-left:10px;
    list-style: none;
    margin-bottom:0;
    text-align:center;
}



#options ul li {
    display:inline-block;
    margin-bottom:30px;
}

#options li a:link, #options li a:visited {
    text-transform:uppercase;
    font-size:bold;
    border:#fff 1px solid;
    font-size:21px;
    font-family:arvo;
    margin-right:10px;
    color:#fff;
    padding:5px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#options li a:hover{
    border:#fff 1px solid;
    color:#D5ADE9;
    background:#fff;
}


/**** Horizontal ****/

.horizontal #container {
    height: 80%;
}

#copy {
    max-width: 640px;
}

/**** Photo demo ****/
.isotopecontainer {
    max-width:960px;
}

.photos .photo {
    max-width:280px;
    margin:10px 0 10px 2%;
    float: left;
}

.photos .photoheight1 {
    height:226px;
}

.photos .photoheight2 {
    height:368px;
}
.photos .photoheight3 {
    height:460px;
}
.photos .photoheight4 {
    height:322px;
}

.photos .photoheight5 {
    height:188px;
}
.photos .photoheight6 {
    height:210px;
}

.photos .photoheight7 {
    height:210px;
}
.photos .photoheight8 {
    height:202px;
}
.photos .photoheight9 {
    height:150px;
}
.photos .photoheight10 {
    height:203px;
}




.photos .photo img {
    display: block;
    width: 100%;
}


/**** Infinite Scroll ****/

#infscr-loading {
    position: fixed;
    text-align: center;
    bottom: 30px;
    left: 42%;
    z-index: 100;
    background: white;
    background: hsla( 0, 0%, 100%, 0.9 );
    padding: 20px;
    color: #222;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope portfolio end*****/




/***hover effect***/


.view {
    float: left;

    overflow: hidden;
    position: relative;
    text-align: center;

    cursor: pointer;
    background: #fff;
}
.view .mask,.view .content {
    width:100%;height:100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    width:100%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: absolute; top:20%;
    font-size: 18px;
    padding: 10px;
    background: #D5ADE9;
    margin: 0 ;
}


.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(255,255,255, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

/***hover effect end***/



.section4 .toplink {
    text-align:center;
    width:360px;
    background:transparent;
    border:#fff 1px solid;
    margin:30px auto 84px auto;
    padding:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.section4 .toplink i {
    color:#fff;
    font-size:60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section4 a.toplink:link, .section3 a.toplink:visited {
    font-weight:bold;
    text-transform:uppercase;
    font-family:arvo;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.section4 .toplink:hover {
    background:#fff;
}

.section4 .toplink:hover i{
    color:#D5ADE9;
}




/*********portfolio end*********/



/*********blog*********/

.section5  {
    background:#FBF094 url(/Theme/ElfuSlenis/images/bgyellow.png) repeat;
}
.section5 .mainheadline h2{
    color:#FBF094;
}

.section5 .mainheadlinesmall h2{
    color:#FBF094;
}
.section5 .item{
    margin:30px 15px;
    background:#fff;
    padding-bottom:30px;
    position:relative;
    text-align:center;
}
.section5 h5{
    margin-left:20px;
    margin-right:20px;
    font-size:21px;
    margin-top:21px;
    display:inline-block;
}
.section5 p{
    margin-left:20px;
    margin-right:20px;
}

.section5 p.date{
    background:#f0f0f0;
    color:#333333;
    font-size:18px;
    display:block;
    width:100%;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    margin-left:0;
    padding:10px 0;
}


.section5 a.link:link, .section5 a.link:visited{
    margin-left:20px;
    margin-right:20px;

    border:2px solid #ACE08D;
    padding:5px 10px;
    color:#ACE08D;
    font-size:13px;
    text-transform:uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.section5 a.link:hover{
    color:#fff;
    background:#ACE08D;
}

.section5 .owl-carousel{
}
.section5 .owl-carousel:hover{
    cursor:move;
}



/*********blog end*********/




/*********footer*********/


.footerbottom{
    background:#FFB27F url(/Theme/ElfuSlenis/images/bgred.png) repeat;
    float:left;
    width:100%;
    padding-bottom:21px;
}

.footerbottom .mainheadline h2{
    color:#FFB27F;
}

.footerbottom .mainheadlinesmall h2{
    color:#FFB27F;
}


.buttonmain2{
    text-align:center;
}
.buttonmain2 i{
    margin-left:-20px;

}


.buttonmain2 a:link, .buttonmain2 a:visited{
    font-size:27px;
    text-transform:uppercase;
    font-family:arvo;
    font-weight:bold;
    color:#fff;
    padding-left:0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.buttonmain2 a:hover{
}

.buttonmain2 i{
    font-size:100px;
    text-align:center;

}



.footer h2{
    margin-left:60px;
    margin-right:60px;
    font-size:63px;
    display:block;
    margin-bottom:0px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:1;
    color:#fff;
}


.footer h4{
    display:block;
    font-size:35px;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:60px;
    margin-right:60px;
    color:#fff;
}


/*for contact form*/

#main {
    margin-top:21px;
    margin-bottom:63px;
}

#main h4{
    color:#fff;
    text-align:center;
    font-size:21px;
    margin-bottom:42px;
}


#main input{
    font-size:18px;
    color:#FFB27F;
    border:none;
    box-shadow:none;
    outline:none;
    border-radius:0;
    padding:0 10px;
    margin-bottom:0px;
    width:100%;
}

#main .contact1 input {
    color:#FFB27F;
    background:#fff;
    box-shadow:none;
    border:none;
    box-shadow:none;
    outline:none;
    height:57px;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition:all .1s;
    -o-transition: all .1s;
}
#main .contact1 input:focus {
    box-shadow:none;
    outline:none;
}



#main .contact2 input {
    color:#FFB27F;
    background:#fff;
    box-shadow:none;
    border:none;
    box-shadow:none;
    outline:none;
    height:57px;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition:all .1s;
    -o-transition: all .1s;
}




#main .contact2 input:focus {
    box-shadow:none;
    outline:none;
}



#main .textarea{
    border:#fff 3px solid;
    font-size:18px;
    color:#FFB27F;
    box-shadow:none;
    outline:none;
    width:100%;
    padding:10px;
    height: 105px;
    float:left;
    display:inline;
    border-radius:0;
    background:#fff;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition:all .1s;
    -o-transition: all .1s;
}



#main .textarea:focus{
    box-shadow:none;
    outline:none;
}



#main .buttoncontact {
    text-transform:uppercase;
    background:transparent;
    color:#fff;
    font-size:22px;
    font-family:arvo;
    font-weight:bold;
    margin: 21px auto 0 auto ;
    padding:15px 40px;
    border:none;
    box-shadow:none;
    outline:none;
    border:2px solid #fff;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition:all .1s;
    -o-transition: all .1s;
}
#main .buttoncontact:hover {
    color:#FFB27F;
    border:none;
    box-shadow:none;
    outline:none;
    background:#fff;
    border:2px solid #fff;
}
#main ::-webkit-input-placeholder { color:#FFB27F; }
#main ::-moz-placeholder { color:#FFB27F; }
#main :-ms-input-placeholder { color:#FFB27F; }
#main :input:-moz-placeholder { color:#FFB27F; }

.footerbottom h5 {
    text-align:center;
    color:#fff;
    font-size:42px;
    padding-top:42px;
    font-style:italic;
}

/*for contact form end*/

.address {
    margin-bottom:63px;
}
.address h6{
    color:#fff;
    margin-bottom:21px;
    font-size:21px;
    font-family:arvo;
    text-transform:uppercase;
}
.address p{
    color:#fff;
    font-size:18px;
    margin-bottom:0;
}
.address a:link, .address a:visited{
    color:#fff;
}
.address a:hover{
    text-decoration:underline;
}
.footerbottomblack{

    padding-top:63px;
}

.bottomtext{
    color:#fff;
    font-family:arvo;
    font-size:44px;
    font-weight:bold;
    margin-bottom:0;
    margin-top:0px;
    text-transform:uppercase;
    text-align:center;
}

p.bottomtext span.color1{
    color:#f07073;
}

p.bottomtext span.color2{
    color:#A3C9F2;
}
p.bottomtext span.color3{
    color:#ACE08D;
}
p.bottomtext span.color4{
    color:#FBF094;
}
p.bottomtext span.color5{
    color:#D5ADE9;
}
p.bottomtext span.color6{
    color:#FBF094;
}



.bottomicons {
    margin-top:20px;
    text-align:center;
    margin-bottom:42px;
}
.bottomicons i{
    font-size:50px;
}
.bottomicons a:link, .bottomicons a:visited{
    background:#fff;
    padding-top:12px;
    display:inline-block;
    width:80px;
    height:75px;
    margin-right:15px;
    margin-left:15px;
    margin-bottom:20px;
    color:#f07073;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.bottomicons a:hover{
    color:#fff;
    background:#f07073;
}



.copyright p{
    background:#333333;
    display:inline-block;
    color:#fff;
    margin-top:0px;
    padding-bottom:0px;
    margin-bottom:21px;
    padding:3px;
}
.copyright a:link, .copyright a:visited{
    color:#fff;font-weight:bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.copyright a:hover{
    color:#ACE08D;
    text-shadow:#ACE08D 1px 1px 1px;
}

.scrollbutton a:link, .scrollbutton a:visited{
    color:#fff;
    font-weight:bold;
    padding-bottom:0px;
    font-size:18px;
    font-family:arvo;
    text-transform:uppercase;
    text-align:right;
    padding-bottom:0px;
}

.scrollbutton a:hover{
    color:#ACE08D;
}



/*********footer end*********/



/*********blueprint paralax effect*********/

#cbp-so-scroller {
    overflow: hidden;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */

/* Sides */
.cbp-so-side {

    float: left;
    width: 50%;

    overflow: hidden;

    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}



/* Sides */
.cbp-so-side2 {



    overflow: hidden;

    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side2:before,
.cbp-so-side2:after {
    content: " ";
    display: table;
}

.cbp-so-side2:after {
    clear: both;
}



/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;

}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-180px);
    -moz-transform: translateX(-180px);
    transform: translateX(-180px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(180px);
    -moz-transform: translateX(180px);
    transform: translateX(180px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}


.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.cbp-so-section.cbp-so-animate .cbp-so-side-left {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


/*********blueprint paralax effect end*********/



/*********paralax sections*********/
.paralax2{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    text-align:center;
    padding-top:84px;
    padding-bottom:84px;
    margin:63px auto 0 auto;
    float:left;
}

.paralax3{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    text-align:center;
    padding-top:84px;
    padding-bottom:84px;
    margin: 0 auto;
    float:left;

}

.paralax4{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    text-align:center;
    padding-top:0px;
    margin:0 auto 0 auto;
    float:left;
    padding-bottom:84px;
}
.paralax5{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    margin: 0 auto;
    text-align:center;
    padding-top:84px;
    padding-bottom:84px;
    float:left;
}
.paralax6{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    text-align:center;
    padding-top:100px;
    margin:63px auto 0 auto;
    float:left;
    height:84px;
}

/**footerbottom**/
.paralax7{
    background:#333333 url(/Theme/ElfuSlenis/images/paralax7.jpg) 50% 0 no-repeat fixed;
    width:100%;
    margin:0 auto 0 auto;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    float:left;
}

/*********paralax sections end*********/



/*********additional page *********/

.additionalpage1wrapper {
    background:#f07073;
}

.additionalpage2wrapper{
    background:#A3C9F2;
}

.additionalpagehome{
    display:none;
    margin-top:21px;
    text-transform:uppercase;
}

.additionalpagehome a{
    color:#fff;
}

.additionalpage {
    background:#fff;
    padding:20px 30px;
    margin-bottom:84px;
}

.additionalpage h3{
    font-size:27px;
    font-weight:bold;
    line-height:1;
    font-style:italic;
}


.additionalpageright h3{
    margin-top:84px;
    color:#fff;
    font-size:35px;
}


.additionallink{
    margin-bottom:21px;
}

.additionalpage1wrapper .additionallink a:link, .additionalpage1wrapper .additionallink a:visited{
    font-size:21px;
    padding:1px 10px 3px 10px;
    display:inline-block;
    color:#fff;
    border:#fff 1px solid;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.additionalpage1wrapper .additionallink a:hover{
    color:#f07073;
    background:#fff;
    border:#FFB27F 1px solid;
}

.additionalpage2wrapper .additionallink a:link, .additionalpage2wrapper .additionallink a:visited{
    font-size:21px;
    padding:1px 10px 3px 10px;
    display:inline-block;
    color:#fff;
    border:#fff 1px solid;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.additionalpage2wrapper .additionallink a:hover{
    color:#A3C9F2;
    background:#fff;
    border:#A3C9F2 1px solid;
}


.additionalpageright p{
    color:#fff;
    font-size:18px;
}
.additionalpageright .additionallist p{
    color:#fff;
    font-size:13px;
    font-style:italic;
}

.additionalpageright .additionalicons i{
    color:#fff;
    font-size:30px;
    margin-right:15px;
}


.additionalpage h4{
    font-size:21px;
    font-style:italic;
}


.additionalvideo  {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin-top:63px;
    margin-bottom:21px;
}
.additionalvideo  iframe,
.additionalvideo  object,
.additionalvideo  embed {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 95%;
    border:0;
}



/*********additional page end*********


/*********hover effect*********/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 62px;
    border: 1px solid rgba(255,255,255,0.5);

    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
    width: 90px;
    height: 50px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}


/*********hover effect end*********/
/* Extra stiles */

h3 span {
    font-family:'Shadows Into Light Two';
    font-size: 1.6em;
}
.yellowheader {
    background: rgba(255, 240, 110, 0.5);
    /*height: 40px;*/
    padding: 20px;
}
.mtb20 {
    margin: 20px 0;
}
.ipBlock {
    padding: 20px 0;
}

