/* Edit theme.less, not this file. */
@import "layout.css";
@import "widgetOverride.css";
.clear {
    /* http://sonspring.com/journal/clearing-floats */
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix {
    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    /*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
    */
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
}
html,
body {
    border: none;
    margin: 0;
    padding: 0;
}
.caption {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}
.signature {
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.note {
    background-color: transparent;
    border-left-color: #747474;
    border-left-style: solid;
    border-left-width: 2px;
    color: #000000;
    display: block;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1em;
    padding-left: 1em;
}
.button {
    background-color: #019bd4;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}
.ipWidget {
    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    /*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
    */
    zoom: 1;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.ipWidget:before,
.ipWidget:after {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.ipWidget:after {
    clear: both;
}
.ipWidget h1,
.ipWidget h2,
.ipWidget h3,
.ipWidget h4,
.ipWidget h5,
.ipWidget h6,
.ipWidget img,
.ipWidget blockquote,
.ipWidget p,
.ipWidget ul,
.ipWidget ol,
.ipWidget li,
.ipWidget dl,
.ipWidget dd,
.ipWidget dt,
.ipWidget pre {
    font-family: 'Amatic SC';
    border: none;
    margin: 0;
    padding: 0;
}
.ipWidget p
{
    font-family: pt sans;
}

.ipWidget:last-child {
    margin-bottom: 0;
}
.ipWidget .caption {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}
.ipWidget .signature {
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.ipWidget .note {
    background-color: transparent;
    border-left-color: #747474;
    border-left-style: solid;
    border-left-width: 2px;
    color: #000000;
    display: block;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1em;
    padding-left: 1em;
}
.ipWidget .button {
    background-color: #019bd4;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}
.ipWidget h1 {
    color: #FFB27e;
    font-family: 'Shadows Into Light Two', sans-serif;
    font-size: 38px;
}
.ipWidget h2 {
    color: #FFB27e;
    font-family: 'Shadows Into Light Two', Georgia, serif;
    font-size: 36px;
}
.ipWidget h3 {
    color: #FFB27e;
    font-family: 'Shadows Into Light Two', Georgia, serif;
    font-size: 22px;
}
.ipWidget ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0 0 1em 1em;
}
.ipWidget ol {
    list-style-position: inside;
    margin: 0 0 1em 1em;
}
.ipWidget p {
    line-height: 1.5;
    margin-bottom: 1em;
}
.ipWidget ul ul,
.ipWidget ol ol {
    margin-bottom: 0;
}
.ipWidget li {
    line-height: 1.5;
    margin-bottom: 5px;
}
.ipWidget p + ul,
.ipWidget p + ol {
    margin-top: -0.5em;
}
.ipWidget a {
    color: #019bd4;
    text-decoration: none;
}
.ipWidget a:hover {
    text-decoration: underline;
}
.ipWidget table {
    border-collapse: collapse;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    width: 100%;
}
.ipWidget table p {
    line-height: normal;
    margin: 0;
}
.ipWidget td {
    border-bottom: 1px solid #b2b2b2;
    font-size: 14px;
    padding: 9px;
}
.ipWidget th,
.ipWidget thead td,
.ipWidget tbody tr:first-child td {
    font-size: 14px;
    font-weight: bold;
}
.ipWidget thead + tbody tr:first-child td {
    background-color: transparent;
    border-bottom: 1px solid #8e8e8e;
    color: inherit;
    font-size: 14px;
    font-weight: normal;
}
.ipWidget p:last-child,
.ipWidget ul:last-child,
.ipWidget ol:last-child {
    margin-bottom: 0;
}
.ipModuleForm {
    /*!
      * Bootstrap v3.0.2
      *
      * Copyright 2013 Twitter, Inc
      * Licensed under the Apache License v2.0
      * http://www.apache.org/licenses/LICENSE-2.0
      *
      * Designed and built with all the love in the world @twitter by @mdo and @fat.
      *
      */
    /*
      .ipmFileContainer {
          .ipmHiddenInput { // hide input inside div. Input needed for jQuery Tools library to position error message
              width: 0;
              height: 0;
              overflow: hidden;

              input { // margins on input makes error message to appear lower than it should
                  margin: 0;
                  padding: 0;
              }
          }

          .ipmFile {

      }
    */
}
.ipModuleForm input,
.ipModuleForm button,
.ipModuleForm select,
.ipModuleForm textarea {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: inherit;
}
.ipModuleForm .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.ipModuleForm fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
.ipModuleForm legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.ipModuleForm label {
    display: inline-block;
    margin-bottom: 5px;
    font-family:"Shadows Into Light Two";
    font-size: 28px;
    color: #fff;
}

.ipModuleForm input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ipModuleForm input[type="radio"],
.ipModuleForm input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal;
}
.ipModuleForm input[type="file"] {
    display: block;
}
.ipModuleForm select[multiple],
.ipModuleForm select[size] {
    height: auto;
}
.ipModuleForm select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}
.ipModuleForm input[type="file"]:focus,
.ipModuleForm input[type="radio"]:focus,
.ipModuleForm input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.ipModuleForm input[type="number"]::-webkit-outer-spin-button,
.ipModuleForm input[type="number"]::-webkit-inner-spin-button {
    height: auto;
}
.ipModuleForm output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
}
.ipModuleForm .form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    /*max-width: 380px;*/
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size:18px;
    color:#FFB27F;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border:none;
    box-shadow:none;
    border-radius: 0px;
}
.ipModuleForm .form-control:focus {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}
.ipModuleForm .form-control:-moz-placeholder {
    color: #999999;
}
.ipModuleForm .form-control::-moz-placeholder {
    color: #999999;
}
.ipModuleForm .form-control:-ms-input-placeholder {
    color: #999999;
}
.ipModuleForm .form-control::-webkit-input-placeholder {
    color: #999999;
}
.ipModuleForm .form-control[disabled],
.ipModuleForm .form-control[readonly],
.ipModuleForm fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.ipModuleForm textarea.form-control {
    height: 10em;
    overflow: auto;
}
.ipModuleForm .form-group {
    margin-bottom: 20px;
    position: relative;
    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    /*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
    */
    zoom: 1;
}
.ipModuleForm .form-group:before,
.ipModuleForm .form-group:after {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.ipModuleForm .form-group:after {
    clear: both;
}
.ipModuleForm .form-group:last-child {
    margin-bottom: 0;
}
.ipModuleForm .radio,
.ipModuleForm .checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
    vertical-align: middle;
}
.ipModuleForm .radio label,
.ipModuleForm .checkbox label {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.ipModuleForm .radio input[type="radio"],
.ipModuleForm .radio-inline input[type="radio"],
.ipModuleForm .checkbox input[type="checkbox"],
.ipModuleForm .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}
.ipModuleForm .radio + .radio,
.ipModuleForm .checkbox + .checkbox {
    margin-top: -5px;
}
.ipModuleForm .radio-inline,
.ipModuleForm .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.ipModuleForm .radio-inline + .radio-inline,
.ipModuleForm .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
.ipModuleForm input[type="radio"][disabled],
.ipModuleForm input[type="checkbox"][disabled],
.ipModuleForm .radio[disabled],
.ipModuleForm .radio-inline[disabled],
.ipModuleForm .checkbox[disabled],
.ipModuleForm .checkbox-inline[disabled],
.ipModuleForm fieldset[disabled] input[type="radio"],
.ipModuleForm fieldset[disabled] input[type="checkbox"],
.ipModuleForm fieldset[disabled] .radio,
.ipModuleForm fieldset[disabled] .radio-inline,
.ipModuleForm fieldset[disabled] .checkbox,
.ipModuleForm fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
.ipModuleForm .has-error .help-block,
.ipModuleForm .has-error .control-label,
.ipModuleForm .has-error .radio,
.ipModuleForm .has-error .checkbox,
.ipModuleForm .has-error .radio-inline,
.ipModuleForm .has-error .checkbox-inline {
    color: #b80000;
}
.ipModuleForm .has-error .form-control {
    border-color: #b80000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ipModuleForm .form-control-static {
    margin-bottom: 0;
}
.ipModuleForm .help-block {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333333;
}
@media (min-width: 768px) {
    .ipModuleForm .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .ipModuleForm .form-inline .form-control {
        display: inline-block;
    }
    .ipModuleForm .form-inline .radio,
    .ipModuleForm .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    .ipModuleForm .form-inline .radio input[type="radio"],
    .ipModuleForm .form-inline .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
}
.ipModuleForm .form-horizontal .control-label,
.ipModuleForm .form-horizontal .radio,
.ipModuleForm .form-horizontal .checkbox,
.ipModuleForm .form-horizontal .radio-inline,
.ipModuleForm .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.ipModuleForm .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.ipModuleForm .form-horizontal .form-group:before,
.ipModuleForm .form-horizontal .form-group:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.ipModuleForm .form-horizontal .form-group:after {
    clear: both;
}
.ipModuleForm .form-horizontal .form-control-static {
    padding-top: 7px;
}
@media (min-width: 768px) {
    .ipModuleForm .form-horizontal .control-label {
        text-align: right;
    }
}
.ipModuleForm .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*.ipModuleForm .btn-default {
    background: #019bd4;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1em;
}
.ipModuleForm .btn-default:hover {
    box-shadow: 0 0 0 1px #019bd4 inset;
    background: #01516e;
}*/



.ipModuleForm .btn-default {
    text-transform:uppercase;
    background:transparent;
    color:#fff;
    font-size:22px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    margin: 21px auto 0 auto ;
    padding:15px 40px;
    border:none;
    box-shadow:none;
    outline:none;
    border:2px solid #fff;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition:all .1s;
    -o-transition: all .1s;
    width: 100%;

}
.ipModuleForm .btn-default:hover {
    color:#FFB27F;
    border:none;
    box-shadow:none;
    outline:none;
    background:#fff;
    border:2px solid #fff;
}


.ipModuleForm .progress {
    height: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ipModuleForm .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.ipModuleForm .progress-striped .progress-bar {
    background-color: #428bca;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.ipModuleForm .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.ipModuleForm .help-hint {
    background-color: #747474;
    color: #fff;
    display: none;
    font-size: 14px;
    padding: 4px 10px 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 1;
}
.ipModuleForm .help-error {
    background-color: #b80000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 14px;
    max-width: 380px;
    padding: 4px 10px 2px;
    width: 100%;
}
.ipModuleForm .has-error .help-error {
    display: block;
}
.ipModuleForm .form-group:hover .help-hint {
    display: block;
}
.ipModuleForm .captcha img {
    display: block;
    max-width: 100%;
}
.ipModuleForm .form-group.type-blank {
    margin-bottom: 0;
}
.ipModuleForm .form-group.type-blank label {
    display: none;
}
.ipModuleForm .form-group.type-blank .help-error {
    margin-bottom: 20px;
}
.ipModuleForm .form-group.type-submit label {
    display: none;
}
.ipModuleForm .ipmFile {
    min-height: 20px;
    padding: 0.5em;
    margin-top: 5px;
    background-color: #a7a7a7;
    border: 1px solid #747474;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    max-width: 380px;
    position: relative;
}
.ipModuleForm .ipmFile .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.ipModuleForm .ipmFile .close:hover,
.ipModuleForm .ipmFile .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.ipModuleForm .ipmFile button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.ipModuleForm .ipmFile .ipmUploadError {
    color: #b80000;
    font-size: 14px;
}
.ipModuleForm .ipmFileTemplate {
    display: none;
}
@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}
.ipmErrorMessage {
    display: none !important;
}
.ipBlock {
    min-height: 10px;
    /* to create minimum height when block is empty */
}
.ipBlock.ipbEmpty {
    /* styles when block is empty */
    min-height: 30px;
    outline: #000 dashed 1px;
}
.ipBlock.ipbEmpty:hover {
    /* styles when block is empty */
    outline-color: #019bd4;
}
.ipBlock .ipbExampleContent {
    position: relative;
}
.ipBlock .ipbExampleContent:after {
    background-color: #e3e3e3;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.3;
    filter: alpha(opacity=30);
    top: 0;
    width: 100%;
}
.ipBlock .ipbExampleContent .ipWidget:hover {
    outline: none;
}
.ipBlock .ipbExampleContent .ipbDefault {
    color: #2f313f;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 50px;
    line-height: 50px;
    visibility: hidden;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.ipBlock .ipbExampleContent .ipbUser {
    position: relative;
    margin-top: -50px;
    /* same height as .ipbDefault to show on top of it */
    min-height: 50px;
    /* same height as .ipbDefault to show on top of it */
}
.ipBlock .ipbExampleContent:hover .ipbDefault {
    visibility: visible;
}
.ipBlock .ipbExampleContent:hover .ipbUser {
    visibility: hidden;
}
.mceContentBody {
    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    /*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
    */
    zoom: 1;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.mceContentBody:before,
.mceContentBody:after {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.mceContentBody:after {
    clear: both;
}
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6,
.mceContentBody img,
.mceContentBody blockquote,
.mceContentBody p,
.mceContentBody ul,
.mceContentBody ol,
.mceContentBody li,
.mceContentBody dl,
.mceContentBody dd,
.mceContentBody dt,
.mceContentBody pre {
    border: none;
    margin: 0;
    padding: 0;
}
.mceContentBody:last-child {
    margin-bottom: 0;
}
.mceContentBody .caption {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}
.mceContentBody .signature {
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.mceContentBody .note {
    background-color: transparent;
    border-left-color: #747474;
    border-left-style: solid;
    border-left-width: 2px;
    color: #000000;
    display: block;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1em;
    padding-left: 1em;
}
.mceContentBody .button {
    background-color: #019bd4;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}
.mceContentBody h1 {
    color: #FFB27e;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
}
.mceContentBody h2 {
    color: #FFB27e;
    font-family: Georgia, serif;
    font-size: 36px;
}
.mceContentBody h3 {
    color: #FFB27e;
    font-family: Georgia, serif;
    font-size: 22px;
}
.mceContentBody ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0 0 1em 1em;
}
.mceContentBody ol {
    list-style-position: inside;
    margin: 0 0 1em 1em;
}
.mceContentBody p {
    line-height: 1.5;
    margin-bottom: 1em;
}
.mceContentBody ul ul,
.mceContentBody ol ol {
    margin-bottom: 0;
}
.mceContentBody li {
    line-height: 1.5;
    margin-bottom: 5px;
}
.mceContentBody p + ul,
.mceContentBody p + ol {
    margin-top: -0.5em;
}
.mceContentBody a {
    color: #019bd4;
    text-decoration: none;
}
.mceContentBody a:hover {
    text-decoration: underline;
}
.mceContentBody table {
    border-collapse: collapse;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 14px;
    width: 100%;
}
.mceContentBody table p {
    line-height: normal;
    margin: 0;
}
.mceContentBody td {
    border-bottom: 1px solid #b2b2b2;
    font-size: 14px;
    padding: 9px;
}
.mceContentBody th,
.mceContentBody thead td,
.mceContentBody tbody tr:first-child td {
    font-size: 14px;
    font-weight: bold;
}
.mceContentBody thead + tbody tr:first-child td {
    background-color: transparent;
    border-bottom: 1px solid #8e8e8e;
    color: inherit;
    font-size: 14px;
    font-weight: normal;
}
.mceContentBody p:last-child,
.mceContentBody ul:last-child,
.mceContentBody ol:last-child {
    margin-bottom: 0;
}
.ipWidget-Columns ._container {
    margin: 0 -10px;
}
.ipWidget-Columns ._col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 10px;
    position: relative;
}
.ipWidget-Divider.ipSkin-default {
    border-bottom: 1px solid #AFAFAF;
    height: 0;
}
.ipWidget-Divider.ipSkin-space {
    height: 25px;
}
.ipWidget-File ul {
    list-style: none;
    margin-left: 0;
}
.ipWidget-File a {
    color: #019bd4;
    font-weight: bold;
}
.ipWidget-File a:hover {
    text-decoration: underline;
}
.ipWidget-Form .ipwSuccess {
    /* mimicking the same styles as for form to keep message 'inside' the box */
    border: 1px solid #888;
    display: none;
    padding: 20px 25px;
}
.ipWidget-Gallery {
    margin-bottom: 0px;
}
.ipWidget-Gallery ._container {
    list-style: none;
    margin: 0 -10px;
}
.ipWidget-Gallery ._item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 24.99%;
}
.ipWidget-Gallery ._image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .ipWidget-Gallery ._container {
        margin: 0 -10px;
    }
    .ipWidget-Gallery ._item {
        margin-bottom: 20px;
        padding: 0 10px;
        width: 50%;
    }
}
.ipWidget-Html {
    max-width: 100%;
}
.ipWidget-Image img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /* to remove 3px space below the image (default rendering behavior) */
    max-width: 100%;
}
.ipWidget-Missing {
    /* covered by default styles */
}
.ipWidget-Text table,
.ipWidget-Text pre {
    max-width: 100%;
    overflow: auto;
}
.ipWidget-Heading {
    font-family: 'Shadows Into Light Two';
    margin-bottom: 10px;
    padding-top: 10px;
}
.ipWidget-Heading:first-child {
    padding-top: 0;
}
.ipWidget-Heading a {
    color: #000000;
    text-decoration: inherit;
}
.ipWidget-Heading a:hover {
    text-decoration: underline;
}

.ipWidget-Text {
    color: #555555;
    font-size: 1.2em;
}